core/n8n-workflows/wwp-updater.json
{
  "name": "wwp-updater",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 0 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Todo dia 00:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://comms_wwp-updater:8002/run",
        "options": { "timeout": 120000 }
      },
      "id": "trigger-updater",
      "name": "Executar wwp-updater",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: {\n  message: `✅ wwp-updater concluído em ${d.duration_s}s\\n${d.output?.split('\\n').slice(-5).join('\\n')}`,\n  ...d\n} }];"
      },
      "id": "format-success",
      "name": "Formatar sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: {\n  message: `❌ wwp-updater FALHOU\\nErro: ${d.error}\\nDuração: ${d.duration_s}s`,\n  ...d\n} }];"
      },
      "id": "format-error",
      "name": "Formatar erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wwp-result",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-result",
      "name": "Receber resultado (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 520],
      "webhookId": "wwp-result",
      "notes": "Alternativo ao nó síncrono — wwp-updater pode POSTar aqui ao finalizar"
    }
  ],
  "connections": {
    "Todo dia 00:00": { "main": [[{ "node": "Executar wwp-updater", "type": "main", "index": 0 }]] },
    "Executar wwp-updater": { "main": [[{ "node": "Sucesso?", "type": "main", "index": 0 }]] },
    "Sucesso?": {
      "main": [
        [{ "node": "Formatar sucesso", "type": "main", "index": 0 }],
        [{ "node": "Formatar erro", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "infra" }]
}
